<!DOCTYPE html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	<% include ../partials/head %>
</head>
<body>
	<div id="app">
		<header>
			<% include ../partials/header %>
			<style>
				.alert {
					margin-bottom: 0;
				}
			</style>
		</header>

		<main>
			<div class="home-main-content">
				<div class="container">
					<img src="img/logo.png" class="homepage-brandimg ml-2" style="margin: 6px auto; max-width: 200px;" alt="Our really cool logo!">
					<p><i>Testing</i></p>
				</div>
			</div>
			<div class="container mt-4">
				<div class="row">
					<div class="col-lg-4 mb-2">
						<div class="card">
							<div class="card-body">
								<h3><i class="fab fa-node-js"></i> Node.js</h3>
								<p class="text-muted">We use it</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 mb-2">
						<div class="card">
							<div class="card-body">
								<h3><i class="fab fa-github"></i> GitHub</h3>
								<p class="text-muted"><a href="https://github.com/Ahe4d/web-app-thing">We're on it</a></p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 mb-2">
						<div class="card">
							<div class="card-body">
								<h3><i class="fab fa-apple"></i> whackOS</h3>
								<p class="text-muted">We have to use it</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container my-2"></div>
		</main>
	</div>

	<footer class="footer">
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>