<!DOCTYPE html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	<% include ../partials/head %>
</head>
<body>
	<div id="app">
		<header>
			<% include ../partials/header %>
			<style>
				.alert {
					margin-bottom: 1rm;
				}
			</style>
			<div class="container my-2"></div>
		</header>

		<main>
			<div class="container">
				<h3>Settings</h3>

				<p><b>Discord</b></p>
				<a href="/api/auth/discord" class="btn btn-info">Login with Discord</a>
			</div>
		</main>
	</div>
	<footer class="footer">
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>